<div class="paper">
  <h1 class="paper__title">New ad</h1>

  <%= render "form", ad: @ad %>

  <%= link_to 'Back to ads', ads_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
