<div class="mx-auto md:w-2/3 w-full p-4">
  <h1 class="font-bold text-4xl">New message</h1>

  <%= render "form", message: @message %>

  <% if @message.ad.present? && controller_name == "messages" && action_name == "new" %>
    <%= link_to 'Back to ad', ad_path(@message.ad), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <% else %>
    <%= link_to 'Back to messages', messages_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <% end %>
</div>
