

<% if @threads.empty? %>

  <%= empty_state_container do %>
    <h2 class="text-4xl">
      You have no messages.
    </h2>

    <h3 class="text-lg mt-4">
      Get out there and make some noise.
    </h3>

    <%= icon_empty_inbox %>
  <% end %>

<% else %>
  <%= render partial: 'messages' %>

  <%= detail_sidebar_body %>
<% end %>