<%= empty_state_container do %>

  <div class="paper">
    <h1 class="text-xl">You are</h2>
    <p class="mb-12"><%= configatron.my_onion %></p>

    <h2 class"text-xl">Chat with us</h2>
    <p>
      <a target="_blank" href="https://matrix.to/#/#peacemaker-support:matrix.org">
        https://matrix.to/#/#peacemaker-support:matrix.org
      </a>
    </p>
  </div>


<% end %>