.DetailSidebar__item {
  white-space: break-space;
}

.DetailSidebar__item.DetailSidebar__item--selected {
  cursor: unset;
  min-height: 7rem;
  display: flex;
  justify-content: space-between;
}

.DetailSidebar__item.DetailSidebar__item--selected .icon--chevron {
  visibility: hidden !important;
  display: none;
}

.DetailSidebar__item:not(.DetailSidebar__item--selected) .icon--trash {
  display: none;
  pointer-events: none;
}

.DetailSidebar__item.DetailSidebar__item--selected .icon--trash {
  display: block;
  cursor: pointer;
}

.DetailSidebar__item.DetailSidebar__item--selected .DetailSidebar__item__title {
  font-size: 18px;
}