<div class="paper">
  <h1 class="paper__title">New peer</h1>

  <%= render "form", peer: @peer %>

  <%= link_to 'Back to peers', peers_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
